{
  "openapi": "3.1.0",
  "info": {
    "title": "Mautic ChatGPT Bridge",
    "version": "1.0.0",
    "description": "Protected API for Mautic. Read-only operations and explicit confirmed writes. Never disclose API keys."
  },
  "servers": [
    {
      "url": "https://integracoes.ensinaflix.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "bridgeKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-bridge-api-key"
      }
    },
    "schemas": {}
  },
  "security": [
    {
      "bridgeKey": []
    }
  ],
  "paths": {
    "/api/mautic/resources": {
      "get": {
        "operationId": "listMauticResources",
        "summary": "List Mautic resources",
        "description": "Read contacts, segments, campaigns, emails or forms. Contains personal data; use only when requested.",
        "parameters": [
          {
            "name": "resource",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "contacts",
                "segments",
                "campaigns",
                "emails",
                "forms"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mautic resource results"
          },
          "401": {
            "description": "Unauthorized"
          },
          "502": {
            "description": "Upstream error"
          }
        }
      }
    },
    "/api/mautic/operations": {
      "post": {
        "operationId": "prepareOrCreateMauticResource",
        "summary": "Preview or explicitly create contact or segment",
        "description": "For every request ALWAYS include payload with contact email or segment name and description. For previews use confirm:false. Only set confirm:true after explicit user approval.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "resource",
                  "action",
                  "payload",
                  "confirm"
                ],
                "properties": {
                  "resource": {
                    "type": "string",
                    "enum": [
                      "contacts",
                      "segments"
                    ]
                  },
                  "action": {
                    "type": "string",
                    "const": "create"
                  },
                  "confirm": {
                    "type": "boolean",
                    "default": false,
                    "description": "Keep false for a dry run. True requires explicit approval."
                  },
                  "payload": {
                    "type": "object",
                    "description": "Required fields for the requested resource. Segments need name and optional description; contacts need email and optional firstname, lastname, mobile.",
                    "properties": {
                      "name": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Required when resource is segments."
                      },
                      "description": {
                        "type": "string",
                        "description": "Segment description."
                      },
                      "email": {
                        "type": "string",
                        "format": "email",
                        "description": "Required when resource is contacts."
                      },
                      "firstname": {
                        "type": "string"
                      },
                      "lastname": {
                        "type": "string"
                      },
                      "mobile": {
                        "type": "string"
                      }
                    },
                    "additionalProperties": false,
                    "anyOf": [
                      {
                        "required": [
                          "name"
                        ]
                      },
                      {
                        "required": [
                          "email"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dry-run or confirmed create result"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  }
}
