{
  "openapi": "3.1.0",
  "info": {
    "title": "Mautic ChatGPT Bridge",
    "version": "1.0.0",
    "description": "Protected API for Mautic. Read-only operations and explicit confirmed writes. Never disclose API keys."
  },
  "servers": [
    {
      "url": "https://integracoes.ensinaflix.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "bridgeKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-bridge-api-key"
      }
    },
    "schemas": {}
  },
  "security": [
    {
      "bridgeKey": []
    }
  ],
  "paths": {
    "/api/mautic/resources": {
      "get": {
        "operationId": "listMauticResources",
        "summary": "List Mautic resources",
        "description": "Read contacts, segments, campaigns, emails or forms. Contains personal data; use only when requested.",
        "parameters": [
          {
            "name": "resource",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "contacts",
                "segments",
                "campaigns",
                "emails",
                "forms"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mautic resource results"
          },
          "401": {
            "description": "Unauthorized"
          },
          "502": {
            "description": "Upstream error"
          }
        }
      }
    },
    "/api/mautic/operations": {
      "post": {
        "operationId": "prepareOrCreateMauticResource",
        "summary": "Preview or explicitly create contact or segment",
        "description": "Send segment name and description as TOP-LEVEL JSON fields, NOT in payload. For contacts send email as a TOP-LEVEL field. For dry-run confirm:false; confirm:true ONLY after explicit user approval.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "resource",
                  "action",
                  "confirm"
                ],
                "properties": {
                  "resource": {
                    "type": "string",
                    "enum": [
                      "contacts",
                      "segments"
                    ]
                  },
                  "action": {
                    "type": "string",
                    "const": "create"
                  },
                  "confirm": {
                    "type": "boolean",
                    "default": false,
                    "description": "Keep false for a dry run. True requires explicit approval."
                  },
                  "name": {
                    "type": "string",
                    "description": "REQUIRED when resource=segments. Send at top level, not in payload.",
                    "minLength": 1
                  },
                  "description": {
                    "type": "string",
                    "description": "Optional segment description at top level."
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "REQUIRED when resource=contacts. Send at top level."
                  },
                  "firstname": {
                    "type": "string"
                  },
                  "lastname": {
                    "type": "string"
                  },
                  "mobile": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dry-run or confirmed create result"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  }
}
